@if(boat){

    <div class="boat-details">
        <img [src]=boat.imageUrl class="boat-image">
        <div class="boat-info">
            <h2>Name: {{boat.name}}</h2>
            <p><strong>Company Name: {{boat.companyName}}</strong></p>
            <p><strong>Length: {{boat.length}} feet</strong></p>
            <p><strong>Range (at 5 kn): {{boat.range}} nautical miles</strong></p>
            <p><strong>Recharge Time: {{boat.rechargeTime}} hours</strong></p>
        </div>
        
        <div class="actions">
            <a class="edit-btn">Edit</a>
            <a class="delete-btn">Delete</a>

            <a id="like-button" class="like-btn" href="">Like</a>
            <p id="liked-message" class="liked-message hidden">You've already liked this boat.</p>
        </div>
    </div>
}