<div class="boat-details">
    <img src="#" class="boat-image">
    <div class="boat-info">
        <h2>Name:</h2>
        <p><strong>Company Name:</strong></p>
        <p><strong>Length:</strong></p>
        <p><strong>Range (at 5 kn):</strong></p>
        <p><strong>Recharge Time:</strong></p>
    </div>
    
    <div class="actions">
        <a class="edit-btn">Edit</a>
        <a class="delete-btn">Delete</a>

        <a id="like-button" class="like-btn" href="">Like</a>
        <p id="liked-message" class="liked-message hidden">You've already liked this boat.</p>
    </div>
</div>