* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.boat-form {
    background-color: rgb(11 34 64 / 50%);
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boat-form label {
    margin-top: 10px;
    color: white;
    display: block;
}

.boat-form input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

.boat-form .create-btn { 
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 15px 20px;
    background-color: #00bcd4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}
.errors{
    color: rgb(255, 0, 0);
    margin-top: 10px;
    font-weight: bold;
}