<form class="boat-form">
    <label for="name">Name of Boat:</label>
    <input type="text" id="name" name="name" placeholder="Name Of Boat">

    <label for="companyName">Company Name:</label>
    <input type="text" id="companyName" name="companyName" placeholder="Company Name">

    <label for="length">Length (in feet):</label>
    <input type="number" id="length" placeholder="Length" name="length">

    <label for="range">Range (at 5 kn):</label>
    <input type="number" id="range" placeholder="Range" name="range">

    <label for="rechargeTime">Recharge Time:</label>
    <input type="number" id="rechargeTime" placeholder="Recharge Time" name="recharge">

    <label for="image">Image URL:</label>
    <input type="url" id="image" placeholder="Image URL" name="image">

    <button type="submit" class="create-btn">Add Boat</button>
</form>